<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>URL-SHORTENER</title>
  
  <link rel="stylesheet" href="/style.css" />
  
</head>
<body>

  <%- include('./partials/header', { title: "Home" }) %>

  <% if(isLoggedIn) { %>
    <h2>You are logged In</h2>
    <% } else { %>
      <h2>You are not logged in </h2>

    <% } %>
  <div class="container">
    <h1>URL Shortener</h1>

    <form action="/" method="post" class="form">
      <div class="input-group">
        <label for="url">Enter URL:</label>
        <input type="url" name="url" id="url" required />
      </div>

      <div class="input-group">
        <label for="shortCode">Enter Short Code (optional):</label>
        <input type="text" name="shortCode" id="shortCode" />
      </div>

      <button type="submit">Shorten</button>
    </form>

    <h2>Shortened URLs</h2>

    <ul class="url-list">
      <% (links || []).forEach(function(item) { %>
        <% const shortCode = item.shortCode || ""; %>
        <% const rawUrl = item.rawUrl || ""; %>

        <li>
          <div class="left">
            <a class="short-link" href="<%= origin %>/<%= shortCode %>" target="_blank" rel="noopener">
              <%= origin %>/<%= shortCode %>
            </a>

            <span class="original-link">
              <%= rawUrl.length > 55 ? rawUrl.slice(0, 55) + "..." : rawUrl %>
            </span>
          </div>
        </li>
      <% }); %>
    </ul>
  </div>
  <%- include('./partials/footer') %>
</body>
</html>
